.modal-content {
  width: 100%;
  max-width: 380px;
  background: white;
  border-radius: 30px;
  padding: 24px;
  animation: popup .25s ease;
  overflow: hidden; /* чтобы ничего не вылезало за рамки */
}
